<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FirstQueryHandler</servlet-name>
        <servlet-class>com.example.conroller.qet.FirstQueryHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecondQueryHandler</servlet-name>
        <servlet-class>com.example.conroller.qet.SecondQueryHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThirdQueryHandler</servlet-name>
        <servlet-class>com.example.conroller.qet.ThirdQueryHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FourthQueryHandler</servlet-name>
        <servlet-class>com.example.conroller.qet.FourthQueryHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstSetHandler</servlet-name>
        <servlet-class>com.example.conroller.set.FirstSetHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecondSetHandler</servlet-name>
        <servlet-class>com.example.conroller.set.SecondSetHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstQueryHandler</servlet-name>
        <url-pattern>/FirstQueryHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondQueryHandler</servlet-name>
        <url-pattern>/SecondQueryHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThirdQueryHandler</servlet-name>
        <url-pattern>/ThirdQueryHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FourthQueryHandler</servlet-name>
        <url-pattern>/FourthQueryHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstSetHandler</servlet-name>
        <url-pattern>/FirstSetHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondSetHandler</servlet-name>
        <url-pattern>/SecondSetHandler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
